.icon {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.view-results {
  padding: 2px 84px;
  cursor: pointer;
  background: none;
  border: 2px solid white;
  border-radius: 4px;
}

button div p {
  margin: 2% 0;
}

@media screen and (max-width: 600px) {
  .view-results {
    padding: 2px;
  }
}
