.main-ctr {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-links-ctr {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
}

.main-links-ctr a button {
  padding: 20px;
  width: 200px;
}
