.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translate(-5px, 5px);
  margin: 0;
}

.crypto-header-container {
  display: flex;
  justify-content: center;
  font-size: 72%;
  cursor: default;
  font-family: 'Righteous', cursive;
}

.crypto-header-container h2 {
  margin: 0;
}

.two-cryptos-container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

.crypto-info {
  position: absolute;
  z-index: 2;
  transform: translate(0,-180px);
  background: rgba(0,0,0, 0.85);
  color: white;
  padding: 0 10px;
  border-radius: 8px;
}

strong {
  display: inline;
  position: absolute;
  font-size: 14px;
  transform: translate(6px, 12px);
  /* margin: auto; */
}

@media screen and (max-width: 800px) {
  .logo {
    width: 20px;
    height: 20px;
  }

  .crypto-header-container {
    transform: none;
  }

  strong {
    display: none;
  }
}
