.card-of-day-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  font-family: 'Righteous', cursive;
  font-weight: 400;
}
.card-of-day-ctr > p {
  font-size: 22px;
}

.cod {
  max-width: 100%;
  height: auto;
}

.cod-name {

}

.cod-desc {
  width: 50%;
  text-align: justify;
  border: 4px solid white;
  padding: 20px;
}
