@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze:wght@500&family=Roboto&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  background: rgba(51,22,92,1);
}

main {
  background: rgb(207,184,255);
  background: linear-gradient(48deg, rgba(207,184,255,1) 0%, rgba(51,22,92,1) 100%);
  height: 100%;
}
