.expanded-table {
  /* table-layout: fixed; */
  background: none;
  color: black;
  width: 100%;
}

.expanded-table tr:nth-child(odd), .over-time tr:nth-child(odd) {
  background: rgba(51,22,92,1);
  color: white;
}

.expanded-table tr:nth-child(even), .over-time tr:nth-child(even) {
  color: white;
}

.cryptos-info {
  color: white;
  overflow-x: auto;
  width: 100%;
  padding-bottom: 11%;
  text-align: center;
}

.cryptos-info-btns-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy {
  width: 160px;
  color: white;
  background: none;
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  transition: .2s ease all;
  margin: 5% 0;
}

.buy:hover {
  color: rgba(51,22,92,1);
  background: rgba(255, 255, 255, 0.85);
}


.info-logo {
  margin-top: 5%;
  height: 10%;
  width: 10%;
}

.table-ctr {
  width: 100%;
  overflow-x: auto;
}
