.expanded-table {
  /* table-layout: fixed; */
  background: none;
  color: black;
  width: 100%;
}

.expanded-table tr:nth-child(odd), .over-time tr:nth-child(odd) {
  background: #F9CE77;
  color: rgba(51,22,92,1);
}

.expanded-table tr:nth-child(even), .over-time tr:nth-child(even) {
  color: white;
}

.cryptos-info {
  color: white;
  overflow-x: auto;
  width: 100%;
  padding-bottom: 11%;
  text-align: center;
}

.info-logo {
  margin-top: 5%;
  height: 10%;
  width: 10%;
}

.table-ctr {
  width: 100%;
  overflow-x: auto;
}
