.table-container {
  height: 60vh;
  overflow-y: auto;
}

.button-search-bar-ctr {
  display: flex;
  padding: 20px 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.button-search-bar-ctr button {
  margin-right: 50px;
  width: 160px;
  color: white;
  background: none;
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  transition: .2s ease all;
}

.button-search-bar-ctr button:hover {
  color: rgba(51,22,92,1);
  background: rgba(255, 255, 255, 0.85);
}
