.rev {
  transform: rotate(180deg);
}

.up-rev-cards {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.up, .rev {
  transition: .2s ease all;
  max-width: 100%;
  height: auto;
}

.up:hover {
  transform: scale(1.1)
}

.rev:hover {
  transform: rotate(180deg) scale(1.1);
}


.t-info-section {
  /* background: #f8b936; */
  padding: 5%;
  font-family: 'Righteous', cursive;
  color: white;
  text-align: center;
}
