header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background: rgba(51,22,92,1);
  color: #F9CE77;
  font-family: 'Righteous', cursive;
}

.links {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.menu-icon {
  height: 10%;
  border-radius: 0;
  min-width: 30px;
  max-width: 20%;
  margin-left: 58%;
}

.close {
  width: 25px;
  height: 25px;
  transform: translate(-8px, 10px);
}

header h1 {
  font-size: 3em;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.menu,
.hidden-menu,
.active-menu {
  display: none;
  cursor: pointer;
}

.active-menu button {
  text-align: right;
}

ul {
  list-style-type: none;
  text-align: right;
}

@media screen and (max-width: 600px) {
  .links {
    display: none;
  }
  header h1 {
    font-size: 2.5em;
    margin-left: 12%;
  }

  .menu {
    display: block;
    background: none;
    border: none;
  }

}

@media screen and (max-width: 400px) {

  header {
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }

  header h1 {
    font-size: 1.5em;
  }

  ul li {
    margin: 2% 5% 0 0;
  }

  .active-menu {
    display: flex;
    position: absolute;
    right: 0;
    z-index: 2;
    flex-direction: column;
    background: rgba(0,0,0,0.65);
    width: 50%;
    top: 0;
    text-align: right;
    border-radius: 8px;
  }

  .close-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: .2s ease all;
  }

}
