.table-name {
  font-size: 22px;
  text-align: left;
}

.price,
.circ-supply,
.max-supply {
  text-align: right;
}

.buy {
  padding: 5px 30px;
  cursor: pointer;
}

tr td {
  text-align: center;
}

tr:nth-of-type(odd) {
  background: #F9CE77;
  border-top: 1px solid gray;
}

tr:nth-of-type(even) {
  color: white;
  /* border-top: 1px solid gray; */
}
